!!! 5
%html
  %head
    %title Towerwatch
    %link{:href => '/stylesheets/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #login-wrapper
      %h2
        Lighthouse API Token
      %p
        Enter your API token here. Towerwatch saves these in a cookie and requires it so you can prioritize tickets. You will need to have write access to Rails project in Lighthouse.
      %p
        You can define a new read &amp; write API token in your profile page. 
      #login
        %form{:action => "/lighthouse", :method => "post"}
          %p
            %label{:for => "token"}
              API Token
            %br
            %input{:type => "text", :id => "token", :name => "token"}
          %p
            %input{:type => "submit"}