#search
  %form{:action => "/", :method => "GET"}
    %label{:for => "q"}
      Search Query
    %input{:type => "text", :name => "q", :value => 'state:open not-state:incomplete not-state:needs-more-info updated:"since 1 months ago" not-milestone:2.3.6 not-milestone:2.x'}
